.header {
  border-bottom: 1px solid var(--badges);
  padding: 14px 40px;
  height: 68px;
  background-color: #ffffff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
}

.nav {
  display: flex;
  gap: 32px;
}

.link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--main);

  transition: color cubic-bezier(0.075, 0.82, 0.165, 1);
}

.link:hover,
.link:focus {
  color: var(--button);
}

.logoBlue path:nth-child(2) {
  fill: #3470ff;
}

.logoCyan path:nth-child(2) {
  fill: #00AAD4;
}
.logoCyan {
  color: #00aeef;
}
.logoBlue {
  color: #3470ff;
}