.cont {
  display: flex;
  gap: 72px;
  padding: 84px 120px 104px 120px;
  width: 100%;
  margin: 0 auto;

}

.left_box {
  flex: 1;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  gap: 40px;
 
}

.img_box {
  position: relative;
  width: 100%;
  border-radius: 16px;
  height: 512px;
  overflow: hidden;
}

.img {
  object-fit: cover;
}

.box_form {
  width: 100%;
  border-radius: 16px;
}

.right_box {

  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 16px;
 margin-left: -40px;
  background-color: #ffffff;
  width: 100%;
  padding-left: 24px;
}

.title_box {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 8px;
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
  text-align: left;
}

.id {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);
}

.location_km {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 0;
  margin-bottom: 16px;
}

.location_svg {
  width: 16px;
  height: 16px;
  fill: var(--main);
}

.location_svg_text {
  display: flex;
  align-items: center;
  gap: 2px;
}

.address {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
}

.price {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--button);
  margin-bottom: 32px;
}

.descr {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  margin-bottom: 68px;
}

.list_box {
  margin-bottom: 110px;
}

.list_box:last-child {
  margin-bottom: 0;
}

.title_list {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-bottom: 20px;
}

.list_box ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list_box li {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
}

.li_icon {
  width: 16px;
  height: 16px;
  min-width: 16px;
  fill: var(--main);
}
.car_details{
  background-color: #ffffff;
}

